.state-line {
	display: flex;
	.state-box {
		width: 20%;
		background-color: #fff;
		margin-right: 1%;
		margin-bottom: 1%;
		padding: 1%;
		border-radius: 4px;
		span {
			display: block;
			clear: both;
			overflow: hidden;
		}
	}
}
